<%- include('../header') %>

<form method="POST" action="/publicacoes/editar/<%= categoria %>/<%= publicacao.id %>">
    <div class="form-group">
        <label for="titulo">Título</label>
        <input type="text" class="form-control" id="titulo" placeholder="Digite o título" name="titulo">
    </div>
    <div class="form-group">
        <label for="categoria">Conteúdo</label>
        <textarea class="form-control" id="conteudo" placeholder="Digite o conteúdo" name="conteudo"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

<%- include('../footer') %>